body {
  background-color: rgba(0, 0, 0, 0.356);
  font-family: Arial, Helvetica, sans-serif;
}

.notes-app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading{
    color: white;
}

.modal {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.356);
}

.title-wrapper {
  display: flex;
  justify-content: space-around;
}

.title-here {
  color: white;  
  height: 50px;
  border: none;
  font-size: large;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.356);
}

.close-btn {
  margin-left: 270px;
  margin-top: -20px;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.close-btn:hover {
  background-color: rgba(0, 0, 0, 0.356);
}

.save-btn {
  margin-left: 120px;
  margin-top: 20px;
  height: 30px;
  width: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-btn:hover {
  background-color: rgba(0, 0, 0, 0.356);
}

.note {
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.356);
  color: white;
  font-size: 20px;
  border-radius: 5px;
}

.title {
  padding: 8px;
  color: white;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  font-style: oblique;  
}

.description {
  padding: 8px;
  color: white;
  margin: 5px;
  font-size: 15px;  
}
